<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Video Request</h1>
    <form action="" method="POST">
      <div>
        <label for="score1">Score 1</label>
        <textarea name="score1" id="score1" cols="20" rows="10"></textarea>
      </div>
      <div>
        <label for="score2">Score 2</label>
        <textarea name="score2" id="score2" cols="20" rows="10"></textarea>
      </div>
      <div>
        <label for="nm">Name</label>
        <input type="text" id="nm" name="nm" />
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>